<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body ng-app="FlashCards">
        <div ng-controller="NewCardController">
                <form name='newCardForm' ng-submit="submitNewCard(newCard)" novalidate>
                <input name='question' type= "text" ng-model= "newCard.question" placeholder= "Question" ng-minlength="15" required></input>
                <div class='alertBox' role="alert">
                    <span class='error' ng-show="newCardForm.question.$error.minlength">Question is a Too Short!</span>
                    <span class='error' ng-show="newCardForm.question.$error.required">Question is Required!</span>
                </div>
                <select name="category" ng-model= "newCard.category" required>
                    <option ng-repeat= "category in categories" value = "{{category}}">{{category}}</option>
                </select>
                <div class='alertBox' role="alert">
                    <span class='error' ng-show="newCardForm.category.$error.required">Category is Required!</span>
                </div>
                <div ng-repeat= "answer in newCard.answers">
                <input name="answer_{{newCard.answers.indexOf(answer)}}" type= "text" ng-model="newCard.answers[$index].text" placeholder="Enter answer choice {{$index+1}}" ng-maxlength='40' required></input><input type="checkbox" ng-model="newCard.answers[$index].correct">correct: {{newCard.answers[$index].correct}}</input>
                <div class='alertBox' role="alert">
                    <span class='error' ng-show="newCardForm.answer_{{newCard.answers.indexOf(answer)}}.$error.maxlength">Answer is too long!</span>
                    <span class='error' ng-show="newCardForm.answer_{{newCard.answers.indexOf(answer)}}.$error.required">Answer is required!</span>
                </div>
                </div>
                <input ng-click="finish()" ng-show="newCardForm.$valid" type="submit" value="Submit" id="submit"/>
            </form>
        </div>
        <div ng-controller="MainController">
            <div ng-include="statistics"></div>
            <div><button border-on-hover class='category-button' ng-class="{active: activeCat === category}" ng-repeat="category in categories" ng-click="getCategoryCards(category)">{{ category }}</button></div>
            <loader ng-show="loading"></loader>
            <flash-card ng-repeat="flashCard in flashCards | orderBy : 'question'" card='flashCard'></flash-card>
        </div>
        	<script src="/js/lib/angular.js"></script>
        	<script src="/js/app.js"></script>
            <script src="/js/directives/border-on-hover.js"></script>
            <script src='js/directives/loader.js'></script>
            <script src='js/directives/flashCard.js'></script>
        	<script src="/js/controllers/MainController.js"></script>
            <script src="/js/controllers/StatsController.js"></script>
            <script src="/js/controllers/NewCardController.js"></script>
            <script src="/js/factories/ScoreFactory.js"></script>
            <script src="/js/factories/FlashCardsFactory.js"></script>
            <script src="/js/factories/NewCardFactory.js"></script>
    </body>
</html>